@charset "utf-8";

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* map */
.outline {
  fill: #ddd;
}

.neighborhood {
  fill: #e5e5e5;
  stroke: #fff;
  stroke-width: 0.5;
  shape-rendering: geometricprecision;

  &:hover {
    fill: #d5d5d5;
  }

  &.shared {
    fill: url('#hatch');
  }

  &.unclaimed {
    fill: url('#hatch');
  }
}