<aside class="js-info sidebar">
  <table class="js-legend legend">
    <thead>
      <th>#</th>
      <th>Neighborhood</th>
      <th><a class="js-sort" href="?prop=total&amp;dir=asc">Total</a></th>
      <th><a class="js-sort" href="?prop=change&amp;dir=asc">% change</a></th>
    </thead>
    <tbody class="js-entries"></tbody>
  </table>
</aside>
<div class="js-map map">

</div>