<aside class="js-info sidebar">
  <table class="js-legend legend">
    <thead>
      <th>#</th>
      <th>Neighborhood</th>
      <th>Total</th>
      <th>% change</th>
    </thead>
    <tbody class="js-entries"></tbody>
  </table>
</aside>
<div class="js-map map">

</div>